@import '../../theme/variables.scss';

.hero-container {
  padding: 0 15px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
